.error{
    font-size: 3rem;
    color: var(--red);
}

.button{
    margin-top: 1rem;
    border: 3px solid var(--red);
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    transition: all 0.5s ease;
    font-weight: 700;
    box-shadow: 0px 4px 10px 4px rgba(134, 122, 122, 0.3);
}

.button:hover{
    background-color: var(--red);
    color: var(--white);
}