.container{
    display: flex;
    flex-direction: column;
    
    max-width: 940px;
    height: 100vh;

    align-items: center;
    justify-content: center;
  
    margin: 0 auto;
}

.card{
    max-width: 450px;
    min-height: 30vh;
    padding: 3rem;
    box-shadow: 0px 4px 10px 4px rgba(161, 175, 196, 0.4);
    border-radius: 8px;
}

.title{
    font-size: 1.5rem;
    color: var(--dark-blue);
}

form{
    margin-top: 2rem;
}

form label{
    display:none;
}

form input{
    border: none;
    outline: none;
    padding: 1rem 2rem;
    
}

form input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form select{
    margin-top: 1.5rem;
    padding: .3rem 5rem;
    border: none;
    outline: none;
}

.saveButton{
    border: none;
    background-color: var(--blue-milk);
    border-radius: 4px;
    outline: none;
    padding: .7rem 2rem;
    color: var(--white);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease;
}

.cancelButton{
    border: 3px solid var(--red-milk);
    border-radius: 4px;
    background-color: var(--white);
    outline: none;
    padding: .6rem 1.5rem;
    color: var(--red-milk);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease;
    margin-right: 1rem;
}

.cardbuttons{
    margin-top: 2rem
}

.saveButton:hover{
    background-color: var(--blue)
}

.cancelButton:hover{
    background-color: var(--red);
    color: var(--white)
}